# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

python_backend/venv
python_backend/sites-enabled
python_backend/**/migrations
python_backend/**/__pycache__

# dependencies
react_test/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
react_test/node_modules
react_test/build